* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    height: 10rem;
    align-items: center;
    padding-inline: 2vw;
}

.boll {
    width: 5rem;
    height: 5rem;
    background: rgb(111, 23, 170);
    border-radius: 100rem;
}

.title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
    min-height: 10rem;
    padding-inline: 2vw;
}

.title section {
    background-color: rgb(179, 22, 179);
    border-radius: 90rem;
}


main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: 65vh;
    margin: 2vw;
}


.right {
   
    display:flex;
    justify-content: center;
}
   
.button{
    background-color: rgb(244, 45, 172);
    /* grid-column: 3; */
    border-radius: 15px;
    height: 8vh;
    width:20%;
    margin-bottom: 5vh;
}
    

.left {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
    
}

.content {
    padding-inline: 2rem;
    width: 100%;
    height: 30vh;
    background-color: lightpink;
}
.dark {
    background-color: rgb(178, 0, 138);
}
/* .content:nth-child(odd) {
    background-color: rgb(182, 22, 88); */
    /* border-radius: 100%;
    height:5000px; */
/* } */

footer {
    margin-top: 0;
    min-height: 10vh;
    margin:0px;
    width: 100%;
    background-color: rgb(155, 147, 148);
}

@media screen and (max-width:600px) {

    header {
        justify-content: center;
        height:8rem;
    }

    .title section {
        grid-template-columns: 1fr;
    }

    main {
        
        height: 45vh;
        margin: 0px;
        padding:0px ;
        gap: 0.25rem;
    }

    .right {
        margin:1vh;
        height:8vh;
    }

    .content {
        padding: 0px;
        height: 5rem;
    }
    
    .left {
        display: grid;
        grid-template-columns: 1fr;
    }

    #one {
        grid-row: 2;
    }

    #two {
        grid-row: 1;
    }

    #three {
        grid-row: 3;
    }
    #four {
        grid-row: 4;
    }
}